body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 97vh;
  justify-content: center;
  align-items: center;
  color: gray;
}

#todolist {
  width: 35%;
  min-width: 400px;
  min-height: 25%;
  background-color: white;
  padding: 0%;
  list-style-type: none;
  margin: 0%;
}

#todolist h3 {
  width: 80%;
  color: black;
}

#input {
  width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin: 0%;
  border: none;
  font-size: 1.2em;
}

#input:focus {
  outline: none;
}

#inputForm {
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#inputForm i {
  margin-right: 1.1em;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1em;
  margin: 0%;
  border: none;
  font-size: 1.2em;
  color: black;
  border-bottom: 1px solid lightgray;
}

#heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

input:placeholder-shown {
  font-style: italic;
}

#clear {
  width: 100%;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
  color: black;
  background-color: lightgray;
}

#clear a {
  text-decoration: none;
  color: black;
}

.wrapper {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.item .task {
  width: 85%;
  margin: 0;
  border: none;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.hidden {
  display: none;
}

.strike {
  text-decoration: line-through;
}

#clearAllButton:hover {
  font-weight: bolder;
}